html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.userParentDiv {
	display: flex;
	justify-content: center;
}

.userList {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.userList > li {
	list-style: none;
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
	color: darkred;
}

.userList > li:hover {
	color: red;
}

.parent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inputBox1,
.inputBox2 {
	height: 40px;
	width: 300px;
}

.input {
	display: flex;
}

.button {
	height: 30px;
	width: 150px;
}
