.nav {
	display: flex;
	margin: 10px 0;
	justify-content: center;
	align-items: center;
}

.nav > li {
	list-style: none;
	margin: 30px;
	font-size: 20px;
	font-weight: bold;
	color: blue;
	cursor: pointer;
}
